<div>
  <!-- <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
      {{item.test}}
    </li>
  </ul> -->

  <div>
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="picker.open()">Open</button> -->

    <app-calendar></app-calendar>
  </div>
</div>