<button mat-raised-button style = "margin-left: 6px;margin-top: 10px; background-color: #768d96; color: #fefefd"  (click) = "addBooking()">Lägg till testperson med namn "Sven" och personnummer "111111-1111"</button>

<div style="position: relative; height: 55vh;">
    <div class="center-component">
        <h1 class='centered-horizontally' style="padding-bottom: 20px; text-align: center; color: #fefefd">Hitta bokning</h1>
        <div style="text-align: center;">
            <mat-form-field>
                <mat-label>Namn</mat-label>
                <input #namnInput matInput placeholder="Förnamn Efternamn" (keyup.enter)="searchForBooking(); namnInput.blur()" [(ngModel)]="userName" [formControl]="nameCtrl" required>
                <mat-error *ngIf="nameCtrl.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Personnummer</mat-label>
                <input #pnInput matInput placeholder="YYMMDD-XXXX" (keyup.enter)="searchForBooking(); pnInput.blur()" [(ngModel)]="userID" [formControl]="personnummerCtrl" required>
                <mat-error *ngIf="personnummerCtrl.invalid">{{getPerNumErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <br>
        <button class='centered-horizontally' mat-raised-button style = "background-color: #768d96; color: #fefefd" (click) = "searchForBooking()">Sök efter bokning</button>
    </div>
</div>

<!-- Din bokning
 --><div class="card-container" *ngIf="bookingFound">
    <mat-card class="light-grey-background" style="width: 40%">
        <mat-card-header>
          <mat-card-title style="padding-bottom: 10px">Din bokning</mat-card-title>
          <button mat-icon-button (click) = "bookingFound = false">
            <mat-icon svgIcon="close_button_icon"></mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <p><b>Namn:</b> {{bookedName}}</p>
          <p><b>Datum:</b> {{bookedDate}}</p>
          <p><b>Tid:</b> {{bookedTime}}</p>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 20px" >
          <button mat-raised-button color="warn" class = "cancel-button" (click) = "cancelBooking()">Avboka tid</button>
        </mat-card-actions>
      </mat-card>
  </div>

<!--   Kunde inte hitta bokning
 -->  <div class="card-container" *ngIf="bookingNotFound">
    <mat-card class="light-grey-background" style="width: 40%">
        <mat-card-header>
          <mat-card-title style="padding-bottom: 10px" >Din bokning kunde inte hittas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style = "color: red">Kontrollera dina personuppgifter och försök igen. </p>
        </mat-card-content>
      </mat-card>
  </div>



