.centered-horizontally {
    display: block;
    margin: 0 auto;
  }

  .center-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .light-grey-background {
    background-color: #f5f5f5;
  }

  .card-container {
    display: flex;
    justify-content: center;
  }

  .cancel-button {
    max-width: 110px;
    max-height: 30px;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 10px;
  }

  button[mat-icon-button] {
    margin-left: auto;
  }