<div *ngIf="bookingID === urlID" style="display: flex; justify-content: center; align-items: center; height: 80%;">
    <mat-card style="width: 40%; ">
        <div style="margin: 20px; padding: 5px;">
            <h1 style="margin: 5px">Din bokning är bekräftad!</h1>
            <h5 style="margin: 5px">ID: {{bookingDetails.ID}}</h5>
            <br>
            <p style="margin-top: 50px; margin: 5px">
                <b>Datum:</b> {{date}}<br>
                <b>Tider:</b> {{times}}<br>
                <b>Namn:</b> {{bookingDetails.namn}}<br>
                <b>Personnummer:</b> {{bookingDetails.personnummer}}<br></p>
            <br>
            <br>
            <button mat-raised-button style="margin-top: 10px; display: block; margin: 0 auto;" color="primary"
                (click)="returnToBookingPage()">Tillbaka till bokningssidan</button>
        </div>
    </mat-card>
   </div>
   <div *ngIf="bookingID !== urlID" style="margin:20px">
    <h1>Oops..!</h1>
    <h2>Sidan kunde inte hittas</h2>
</div>