<mat-card class="calendar">
    <mat-calendar [(selected)]="selected" [minDate]="today" (selectedChange)="onDateChange($event)"></mat-calendar>
</mat-card>

<div class="show-date" *ngIf="selected !== undefined">
    <h4 style="margin-left: 10px;">Välj en tid:</h4>
    <button [ngClass]="{ 'green': button1Clicked, 'grey': booked.time1 }" (click)="onButtonClick(1)"
        [disabled]="booked.time1"
        style="border: 1px solid #AAAAAA;width : 200px; height: 50px; margin: 5px; margin-left:20px;"
        mat-stroked-button>9 - 12</button>
    <button [ngClass]="{ 'green': button2Clicked, 'grey': booked.time2 }" (click)="onButtonClick(2)"
        [disabled]="booked.time2" style="border: 1px solid #AAAAAA;width : 200px; height: 50px; margin: 5px; "
        mat-stroked-button>12 - 15</button>
    <button [ngClass]="{ 'green': button3Clicked, 'grey': booked.time3 }" (click)="onButtonClick(3)"
        [disabled]="booked.time3" style="border: 1px solid #AAAAAA; width : 200px; height: 50px; margin: 5px; "
        mat-stroked-button>15 - 18</button>

</div>

<app-personal-info-form></app-personal-info-form>

<div *ngIf="button1Clicked || button2Clicked || button3Clicked" style="padding: 10px; margin-left: 10px;">
    <button style="width : 620px; height: 40px;" mat-raised-button color="primary" (click)="bookRoom()">Boka</button>
</div>