.calendar {
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.show-date {
    padding: 20px;
}

button.green{
    background-color: #28a745;
    color: white;
}

button.grey{
    background-color: #A9A9A9;
    color: white;
}