<mat-card class="calendar">
    <mat-calendar [(selected)]="selected" [minDate]="today" (selectedChange)="onDateChange($event)"></mat-calendar>
</mat-card>

<div class="show-date" *ngIf="selected !== undefined">
    <!-- <p>Selected date: {{selected}}</p> -->
    <button [ngClass]="{ 'green': button1Clicked }" (click)="onButtonClick(1)" [disabled]="booked.time1"
        style="width : 200px; height: 50px; margin: 5px; margin-left:20px;" mat-stroked-button>9 - 12</button>
    <button [ngClass]="{ 'green': button2Clicked }" (click)="onButtonClick(2)" [disabled]="booked.time2"
        style="width : 200px; height: 50px; margin: 5px; " mat-stroked-button>12 - 15</button>
    <button [ngClass]="{ 'green': button3Clicked }" (click)="onButtonClick(3)" [disabled]="booked.time3"
        style="width : 200px; height: 50px; margin: 5px; " mat-stroked-button>15 - 18</button>
</div>