.calendar {
    width: 400px;
    margin: 20px;
}

.show-date {
    padding: 20px;
}

button.green{
    background-color: #28a745;
    color: white;
}

button.grey{
    background-color: #A9A9A9;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
  }
  
  .calendar {
    margin-right: 20px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 20px;
  }