<mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [completed]="calendarValid">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Datum och tid</ng-template>
            <app-calendar (times)="onTimes($event)" (dateChange)="onDateChange($event)" (timeBooked)="onTimeBooked($event)"></app-calendar>
            <div *ngIf="submitted && !calendarValid">
                <p style="color:red; margin-left: 5px;">Please select a time to proceed</p>
              </div>
              <div>
                <button mat-button (click)="submitted = true; stepper.next()">Next</button>
              </div>
        </form>
    </mat-step>


    <mat-step [completed]="!nameCtrl.invalid && !personnummerCtrl.invalid">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Personuppgifter </ng-template>
            <p>Datum: {{date}} <br> Valda tider: {{toBeBooked | json}} </p>
            <div class="container">
                <h4 >Fyll i dina personuppgifter:</h4>
                <div class="personal-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Namn</mat-label>
                        <input matInput placeholder="Förnamn Efternamn" [formControl]="nameCtrl" [(ngModel)]="namn" required>
                        <mat-error *ngIf="nameCtrl.invalid">{{getNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="personal-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Personnummer</mat-label>
                        <input matInput placeholder="YYMMDD-XXXX" [formControl]="personnummerCtrl" [(ngModel)]="personnummer" required>
                        <mat-error *ngIf="personnummerCtrl.invalid">{{getPerNumErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Bekräftelse</ng-template>
            <p>Här visas bekräftelsen <br> 
                Datum: {{date}} <br>
                Valda tider: {{toBeBooked | json}} <br>
                Namn: {{namn}} <br>
                Personummer: {{personnummer}} </p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>