.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.center {
    display: flex;
  justify-content: center;

}

.stepperContainer{
  width: fit-content;
  margin: 0 auto;
  }



.personal-form mat-form-field {
  margin-left: 20px;
  padding: 2px;
}

.container {
  padding: 20px;
}